.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: -webkit-linear-gradient(left, #01090a, #0b333d);
    color:$primary-text-colour ;
    font-size: 2rem;
    font-family: signfont;
    height: 3rem;
    border-top: 1px solid aqua;
    opacity: 0.3;
  }

  