  #top-menu .container .social-media{
      flex-direction: row-reverse;
      display: flex;
      justify-content: center;
      list-style: none;
      margin: 1rem;
  }
  @media (min-width: 768px) {#top-menu .container .social-media{justify-content: end;}}
  
  #top-menu .container .social-media i{
      margin-left: 1.4rem;
      color: $primary-text-colour;
      opacity: 0.4;
  }