
@font-face{
    font-family:"font";
    src: url("../Font/gt.ttf") format('truetype');
    font-style: normal;
}

@font-face{
    font-family:"signfont";
    src: url("../Font/Amazed\ Breath.ttf") format('truetype');
    font-style: normal;
}

$primary-text-colour:aqua;